
<form method=post action="/login">
  <input type=hidden name="fnid" value="oGeWziFptJWdsLD2Y55VFG">
  <input type=text name="username" placeholder="username">
  <input type=password name="password" placeholder="password">
  <input type=submit value="login">
</form>

<form method=post action="/create_user">
  <input type=hidden name="fnid" value="oGeWziFptJWdsLD2Y55VFG">
  <input type=text name="username">
  <input type=password name="password">
  <input type=submit value="create">
</form>
